.button {
    transition: filter 250ms ease-in-out 0s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1.6rem;
    background-color: cornflowerblue;
    border: none;
    color: var(--color-white);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    border-radius: 0.2rem;
    cursor: pointer;
}

.button:hover, .button:focus {
    filter: brightness(0.95);
}

.button:active {
    filter: brightness(0.9);
}

.button:disabled, .button:disabled:hover, .button:disabled:focus, .button:disabled:active {
    filter: grayscale(100%);
    cursor: not-allowed;
}